/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 0px;

}

body{
  height: 100vh;
  width: 100vw;
 
}

.logo{
  background-color: transparent;
  position: relative;
  top: -40px;
  left: 70px;
}

.nav-item{
 
   padding: 0px 10px;
   margin-top: 25px;
   font-size: 18px;
   color: aliceblue;
}

nav{
 
  width: 800px;
  height: 100px;
  margin-left: 800px;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-item-active{
  height: 30px;
  width: 100px;
  border-radius: 6px;
  background-color: aliceblue;
  margin-top: 22px;
  text-align: center;
}



header{
  background-color: #4617FE;
  position: relative;
  height: 500px;
}

div .header-image{
  position: absolute;
  left: 1000px;
  top: 100px  ;
  height: 450px;
  widows: 450px;
 
}

.header-text{
  margin-top: 90px;
 width: 700px;
  height: 385px;
  color: aliceblue;
  margin-left: 70px;
}


img[src="./images/Rectangle_12.png"]{
  padding: 30px 0px;
}


  h2{
   
    padding: 10px 0px;
  }

  .companies{
    font-size: 22px;
    font-weight: bold;
   
    width: 900px;
  }

  .company-items{
   
     padding: 10px 15px;
     margin-left: 60px;
     text-decoration: none;
     color: black;
  }

  .api{
   
    display: flex;
    height: 300px;
    width: 1500px;
    margin-top: 30px;
    margin-left: 70px;
    position: relative;
  }

  .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
 
       right: 590px;
       width: 1200px;
      position: absolute;
      margin-top: 120px;
  }

  .card-body{
    padding: 2px 10px;
  }

  .blog-heading{
     margin-left: 70px;
     margin-top: 30px;
  }

  .blog-cards{
    display: flex;
    flex-direction: row;
    
      margin-left: 70px;
     margin-top: 30px;
  }

  .blog-card{
    display: flex;
    flex-direction: row ;

     padding: 0px 10px;
     width: 700px;
   
     box-shadow: 10px 10px 10px bisque;
     position: relative;
    
  }

  .blog-bottom{
    position: absolute;
    top: 200px;
    left: 290px;
    width: 100px;
     
  }


  .blog-author{
       position: absolute;
    top: 110px;
    left: 180px;
    width: 130px;
    height: 100px;
    
  }

 .blog-content {
    padding: 10px 30px;
  
  }

  .faq-section{
    margin-left:  0px;
     margin-top: 30px;
     display: flex;
     background-color: #E9EDFF;
     
  }


 .faq-content{
  margin-left: 70px;
  padding: 50px 0px;
 }


  .faq-image{
   
    position: relative;
    left: 260px;
  }

  button{
      background-color: #4617FE;
      color: #E9EDFF;
      height: 40px;
      width: 140px;
      border: 0;
      border-radius: 20px;
  }

  .download-section{

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download-content{
    margin-right: 640px;
  }

  .download-email{
     margin-right: 0px;
  }

  form{
    margin-right: 90px;
    
      width: 500px;
  }

  input{
    height: 40px;
    width: 250px;
      border: 0px;
      background-color: #E9EDFF;
      border-radius: 20px;
  }

  .footer-section{
    background-color: #4617FE;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
    align-items: center;
  }

  .footer-left{
   
    width: 800px;
  
  
  }

  .list{
    display: flex;
    flex-direction: row;
     
       margin-left: 0px;
       justify-content: flex-start;
  }

  .list-items{
    padding: 0px 29px;
    color: #E9EDFF;
    list-style: none;
  }

  .footer-right{
     padding: 10px 0px;
     width: 300px;
         
  }

  .footer-logo{
    padding: 10px 0px;
  }

.logos-list{
    display: flex;
    flex-direction: row;
}

.nav-item:hover{
  background-color: black;
  color: #E9EDFF;
}




